html {
    height: 100%;
}

body {
    background-color: black;
    display: block;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
    padding: 3%;
}

.wrapper {
    min-height: 100%;
}

// .wrapper {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     grid-template-rows: repeat(12, 1fr);
//     height: 100vh;
//     overflow: hidden;
// }

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}