html {
    height: 100%;
}

h1,
h2,
section h1,
footer p,
header,
.category {
    color: $white;
}

body {
    background-color: $black;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
    padding: 3%;
}

select {
    background-color: red; 
}

.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}