@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');
$mainFont:'Newsreader',
serif;
$selection:'Oswald',
sans-serif;
$newsTitle:'Roboto',
sans-serif;