footer {
   font-family: $news;

   color: #fff;
   text-align: center;
   display: flex;
   justify-content: center;
}


.copyright {
   font-size: 1em;
   color: #c2c2c2;
   display: flex;
   text-transform: capitalize;
   width: 90%;
   justify-content: center;
   margin: 3%;
   padding: 2%;

}

// Tablet

@media screen and (min-width:600px) {


   .copyright {
      font-size: 1.5em;
      text-align: center;
      margin: 2%;
      padding: 2%;
   }

}


// Desktop

@media screen and (min-width:1000px) {


   .copyright {
      font-size: 2em;
      margin: 1%;
      padding: 1%;
   }


}