footer {
   display: flex;
   justify-content: center;
   text-align: center;
}

.copyright {
   display: flex;
   justify-content: center;
   margin: 3%;
   padding: 2%;
   text-transform: capitalize;
   width: 90%;

   p {
      @include main-small;
   }
}

// Tablet

@media screen and (min-width:600px) {

   .copyright {
      margin: 2%;
      padding: 2%;

      p {
         @include main-medium;
      }
   }

}


// Desktop

@media screen and (min-width:1480px) {

   .copyright {
      margin: 1%;
      padding: 1%;

      p {
         @include main-large;
      }
   }
}