header {
   width: 100%;
   height: auto;
   flex: 1 0 auto;
   flex-wrap: wrap;
   flex-direction: column;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
}

.banner {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   min-width: 60%;
   margin: 5%;
   padding: 5%;
   align-items: center;
   flex-wrap: wrap;
}

.logo {
   margin: 5%;
   padding: 3%;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
}

.choice {
   color: white;
   text-align: center;
   margin: 2%;
   padding: 1%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   min-width: 90%;

   h1 {
      @include selection-small;
      margin: 2%;
      padding: 2%;
   }

   select {
      @include selection-small;
      text-align: center;
      width: 70%;
      margin: 2%;
      padding: 1%;
   }
}


// Media Queries for Tablet 
@media screen and (min-width:680px) {

   .banner {
      flex-direction: row;
      width: 80%;
      flex-wrap: nowrap;
   }

   .choice {
      min-width: 50%;

      h1 {
         @include selection-medium;
      }

      select {
         @include selection-medium;
      }

   }


}


//  Media Queries for desktop 
@media screen and (min-width:1480px) {

   .choice {
      min-width: 45%;

      h1 {
         @include selection-large;
      }

      select {
         @include selection-large;
      }

   }

   .logo {
      margin: 5%;
      padding: 3%;
      max-width: 40%;
      height: 100%;
   }

   select {
      @include selection-large;
   }

}