//mobile

img {
   width: 100%;
}

.topstories {
   align-content: center;
   display: none;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
}

.category {
   @include category-small;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 2% 0% 2% 0%;
   padding: 1%;
   text-transform: uppercase;
}

.stories {
   align-items: flex-start;
   align-content: stretch;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 0px;
   text-align: end;
   width: 80%;

   .newsbackground {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-bottom: 5%;
      max-width: 40%;
      position: relative;
      width: 40%;
   }

}

.test {

   background: rgba(0, 0, 0, .6);
   display: block;
   align-self: flex-end;
   width: 100%;
   text-align: left;
   position: absolute;

   a {
      @include title-small;
      display: block;
      width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: auto;
      text-align: center;
      padding: 7%;

   }

}

.newsbackground:hover .test {
   overflow: hidden;
   animation-name: displayTitle;
   animation-duration: 3.5s;
   animation-fill-mode: forwards;
}

@keyframes displayTitle {
   0% {
      height: 30%;
   }

   100% {
      height: 100%;
   }
}

.newsbackground:hover .newslink {
   display: flex;
   overflow: hidden;
   text-overflow: unset;
   white-space: pre-line;
}



//  Tablet
@media (min-width:681px) {
   .category {
      @include category-medium;
   }

   .test {
      a {
         @include title-medium;

      }
   }

   .stories {
      .newsbackground {
         width: 30%;
         max-width: 30%;

         p {
            line-height: 1.2;
            font-size: 1.8rem;
         }

      }

   }
}

//  Desktop
@media (min-width:1480px) {
   .category {
      @include category-large;
   }

   .stories {
      .newsbackground {
         max-width: 22%;
         width: 22%;

         p {
            font-size: 1.9rem;
            line-height: 1.2;
         }

      }

   }

   .test {
      a {
         @include title-large;
      }
   }
}