{
  "root":true,

       "extends": ["plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
    "rules": {
        //  "@typescript-eslint/rule-name": "error",
        "no-alert": 1,
        "camelcase": 1,
        "curly": 1,
        "eqeqeq": 1,
        "no-console": 1, 
        "guard-for-in": 1,
        "no-empty": 1,
        "no-param-reassign": 1,
        "no-unused-vars": 1,
        "quotes": [ 1, "single"]
    },

    "globals": {
       "jQuery": false,
       "$": false
    },

    
    "env": {
      "browser": true,
         "node" : true
    },

  
    "parserOptions": {
        "sourceType": "module"
    }
}
  
  